{% extends "base.html" %}

{% block content %}
    <div class="row mb-4">
        <div class="col-md-12">
            <h2 class="mb-4"><i class="bi bi-speedometer2 me-2"></i>Server Dashboard</h2>
        </div>
    </div>

    {% include "partials/status_card.html" %}
    {% include "partials/stats_card.html" %}
    {% include "partials/chart_card.html" %}
    {% include "partials/events_card.html" %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}